<div class="container">
  <div class="ui-g">
    <form autocomplete="off" (ngSubmit)="pesquisar()">
      <div class="ui-g-12">
        <h1>Pessoas</h1>
      </div>
      <div class="ui-g-12 ui-fluid">
        <label>Nome:</label>
        <input type="text" pInputText name="nome" [(ngModel)]="filtro.nome" />
      </div>
      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>
    </form>
  </div>
  <div class="ui-g">
    <div class="ui-g-12">
      <p-table #tabela [value]="pessoas" [responsive]="true" [paginator]="true" [rows]="filtro.itensPorPagina" [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="atualizarPagina($event)">
        <ng-template pTemplate="header">
          <tr>
            <th class="col-codigo-header">Código</th>
            <th>Nome</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th class="col-status-header">Status</th>
            <th class="col-acoes-header">Ações</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pessoa>
          <tr>
            <td class="col-codigo">{{ pessoa.codigo }}</td>
            <td>{{ pessoa.nome }}</td>
            <td>{{ pessoa.endereco.cidade?.nome }}</td>
            <td>{{ pessoa.endereco.cidade?.estado.nome }}</td>
            <td class="col-status">
              <a href="javascript:;" [pTooltip]="pessoa.ativo ? 'Desativar' : 'Ativar' " (click)="alterarStatus(pessoa)" tooltipPosition="top">
              {{ pessoa.ativo ? 'Ativo' : 'Inativo' }}
              </a>
            </td>
            <td class="col-acoes">
              <div class="btn-acao"><button pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" [routerLink]="['/pessoas', pessoa.codigo]"></button></div>
              <div class="btn-acao"><button pButton icon="pi pi-trash" pTooltip="Excluir" (click)="excluir(pessoa)" tooltipPosition="top"></button></div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6">Nenhum registro encontrado!</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="ui-g-12">
      <a routerLink="/pessoas/cadastro" pButton label="Nova Pessoa"></a>
    </div>
  </div>
</div>
