.navbar {
  background-color: #2293f0;
  padding: 10px 0;
}

.navbar-toggle {
  color: #ffffff;
}

.navbar-menu {
  background-color: #3a3633;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  z-index: 9998;
  width: 210px;
  list-style: none;
  padding: 0;
}

.navbar-usuario {
  padding: 15px;
  border-bottom: #525151;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
}

.navbar-menuitem {
  padding: 15px;
}

.navbar-menuitem a{
  color: #c0bbb7;
  text-decoration: none;
}

.navbar-menuitem a:hover{
  color: #ffffff;
}

.navbar-menuitem.ativo {
  background-color: #494541;
}
