<div class="container">
  <form (ngSubmit)="salvar()" [formGroup]="formulario">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Lançamento: {{ editando ? 'Editar ' + lancamento.codigo : 'Novo' }}</h1>
      </div>
      <div class="ui-g-12">
        <p-selectButton [options]="tipos" formControlName="tipo"></p-selectButton>
      </div>
      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Vencimento</label>
        <p-calendar name="dataVencimento" formControlName="dataVencimento" dateFormat="dd/mm/yy" [inline]="false" [readonlyInput]="false" [showIcon]="false"></p-calendar>
        <app-message [control]="formulario.get('dataVencimento')" error="required" text="Por gentileza, informe um vencimento"></app-message>
      </div>
      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>{{ formulario.get('tipo').value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
        <p-calendar name="dataPagamento" dateFormat="dd/mm/yy" formControlName="dataPagamento" [showIcon]="false"></p-calendar>
      </div>
      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="descricao" formControlName="descricao">
        <app-message [control]="formulario.get('descricao')" error="required" text="Informe a descrição"></app-message>
        <app-message [control]="formulario.get('descricao')" error="minlength" text="Mínimo de {{ formulario.get('descricao').errors?.tamanhoMinimo?.tamanho }} caracteres"></app-message>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Valor</label>
        <input pInputText type="text" name="valor" formControlName="valor" placeholder="0,00" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: false }">
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="categoria">
        <label>Categoria</label>
        <p-dropdown name="categoria" formControlName="codigo" [options]="categorias" placeholder="Selecione"></p-dropdown>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="pessoa">
        <label>Pessoa</label>
        <p-dropdown name="pessoa" formControlName="codigo" [options]="pessoas" [filter]="true" placeholder="Selecione"></p-dropdown>
      </div>
      <div class="ui-g-12 ui-fluid">
        <label>Observacao</label>
        <textarea pInputTextarea name="observacao" formControlName="observacao" rows="3"></textarea>
      </div>
      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid"></button>
        <a routerLink="/lancamentos">Voltar para pesquisa</a>
      </div>
    </div>
  </form>
</div>
