<div class="container">
  <form #form="ngForm" (ngSubmit)="salvar(form)">
    <div class="ui-g">

      <div class="ui-g-12">
        <h1>Novo Lançamento</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton [options]="tipos" #tipo name="tipo" [(ngModel)]="lancamento.tipo"></p-selectButton>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" ngModel name="vencimento" #vencimento="ngModel" [(ngModel)]="lancamento.vencimento" required></p-calendar>
        <app-message [control]="vencimento" error="required" text="Por gentileza, informe um vencimento"></app-message>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>{{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
        <p-calendar dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" ngModel name="descricao" #descricao="ngModel" required minlength="5">
        <app-message [control]="descricao" error="required" text="Por gentileza, informe uma descrição"></app-message>
        <app-message [control]="descricao" error="minlength" text="Por gentileza, a descrição precisa ter no mínimo {{ descricao.errors?.minlength?.requiredLength }} caracteres! Foram digitados apenas {{ descricao.errors?.minlength?.actualLength }}"></app-message>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Valor</label>
        <input pInputText type="text" ngModel name="valor" #valor="ngModel" required placeholder="0,00" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: false }">
        <app-message [control]="valor" error="required" text="Por gentileza, informe um valor"></app-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Categoria</label>
        <p-dropdown [options]="categorias" placeholder="Selecione" ngModel name="categoria" #categoria="ngModel" required></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Pessoa</label>
        <p-dropdown [options]="pessoas" [filter]="true" placeholder="Selecione" ngModel name="pessoa" #pessoa="ngModel" required></p-dropdown>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Observacao</label>
        <textarea pInputTextarea rows="3"></textarea>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="!form.valid"></button>
        <button pButton type="button" label="Novo" class="ui-button-success"></button>
        <a href="javascript:;">Voltar para pesquisa</a>
      </div>

    </div>
  </form>
</div>
