<p-dataTable [value]="pessoas" [paginator]="true" [rows]="2" [responsive]="true" >

  <p-column header="Nome" field="nome"></p-column>
  <p-column header="Cidade" field="cidade"></p-column>
  <p-column header="Estado" field="estado"></p-column>

  <p-column field="ativo" header="Status">
    <ng-template let-pesssoa="rowData" pTemplate="body">
        <a href="javascript:;" [pTooltip]="pesssoa.ativo ? 'Desativar' : 'Ativar' " tooltipPosition="top">
          {{ pesssoa.ativo ? 'Ativo' : 'Inativo' }}
        </a>
    </ng-template>
  </p-column>

  <p-column header="Ações" styleClass="col-acoes">
    <ng-template pTemplate="body">
      <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a>
      <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"></button>
    </ng-template>
  </p-column>

</p-dataTable>
