<div class="container">
  <form #form="ngForm" (ngSubmit)="salvar(form)">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Pessoa: {{ editando ? 'Editar ' + pessoa.codigo : 'Nova' }}</h1>
      </div>
      <div class="ui-g-12 ui-md-12 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" ngModel name="nome" [(ngModel)]="pessoa.nome" #nome="ngModel" required minlength="5">
        <app-message [control]="nome" error="required" text="Por gentileza, informe um nome"></app-message>
        <app-message [control]="nome" error="minlength" text="Por gentileza, o nome precisa ter no mínimo {{ nome.errors?.minlength?.requiredLength }} caracteres! Foram digitados apenas {{ nome.errors?.minlength?.actualLength }}"></app-message>
      </div>
      <div class="ui-g-12 ui-md-10 ui-fluid">
        <label>Logradouro</label>
        <input pInputText type="text" ngModel name="logradouro" [(ngModel)]="pessoa.endereco.logradouro" #logradouro="ngModel" required>
        <app-message [control]="logradouro" error="required" text="Por gentileza, informe o logradouro"></app-message>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Número</label>
        <input pInputText type="text" ngModel name="numero" [(ngModel)]="pessoa.endereco.numero" #numero="ngModel" required>
        <app-message [control]="numero" error="required" text="Por gentileza, informe o numero"></app-message>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Complemento</label>
        <input pInputText type="text" name="Complemento" [(ngModel)]="pessoa.endereco.complemento"/>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Bairro</label>
        <input pInputText type="text" ngModel name="bairro" [(ngModel)]="pessoa.endereco.bairro" #bairro="ngModel" required>
        <app-message [control]="bairro" error="required" text="Por gentileza, informe o bairro"></app-message>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>CEP</label>
        <p-inputMask mask="99.999-999" placeholder="99.999-999" ngModel name="cep" [(ngModel)]="pessoa.endereco.cep" #cep="ngModel" required></p-inputMask>
        <app-message [control]="cep" error="required" text="Por gentileza, informe o cep"></app-message>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Estado</label>
        <p-dropdown placeholder="Selecione" [filter]="true" [options]="estados" [(ngModel)]="estadoSelecionado" name="estadoSelecionado" (onChange)="listarCidades()" #estado="ngModel" required></p-dropdown>
        <app-message [control]="estado" error="required" text="Informe o estado"></app-message>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Cidade</label>
        <p-dropdown placeholder="Selecione" [filter]="true" [options]="cidades" [(ngModel)]="pessoa.endereco.cidade.codigo" name="cidade" #cidade="ngModel" required [disabled]="!estadoSelecionado"></p-dropdown>
        <app-message [control]="cidade" error="required" text="Informe a cidade"></app-message>
      </div>
      <div class="ui-g-12">
        <p-panel header="Contatos">
          <div class="ui-g">
            <div class="ui-g-12">
              <button pButton label="Novo" (click)="abrirModalContato()" icon="pi pi-plus" class="ui-button-secondary" type="button"></button>
            </div>
            <div class="ui-g-12">
              <p-table [value]="pessoa.contatos" [responsive]="true">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th class="col-acoes-header">Ações</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-contato let-rowIndex="rowIndex">
                  <tr>
                    <td>{{ contato.nome }}</td>
                    <td>{{ contato.email }}</td>
                    <td>{{ contato.telefone }}</td>
                    <td class="col-acoes">
                      <div class="btn-acao"><button pButton pTooltip="Editar" (click)="editarContato(contato, rowIndex)" type="button" icon="pi pi-pencil" tooltipPosition="top"></button></div>
                      <div class="btn-acao"><button pButton pTooltip="Excluir" (click)="removerContato(rowIndex)" icon="pi pi-trash" type="button" class="btn-acao"  tooltipPosition="top"></button></div>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr><td colspan="6">Nenhum registro encontrado!</td></tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </p-panel>
      </div>
      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar"></button>
        <a routerLink="/pessoas">Voltar para pesquisa</a>
      </div>
    </div>
  </form>
</div>
<p-dialog header="Contato" [(visible)]="exibirFormularioContato" *ngIf="contato" modal="modal">
  <form #formContato="ngForm" (ngSubmit)="confirmarContato(formContato)">
    <div class="ui-g-12 ui-fluid">
      <label>Nome</label>
      <input pInputText type="text" name="nome" [(ngModel)]="contato.nome" #contatoNome="ngModel" required/>
      <app-message [control]="contatoNome" error="required" text="Por gentileza, informe o nome"></app-message>
    </div>
    <div class="ui-g-12 ui-fluid">
      <label>E-mail</label>
      <input pInputText type="email" name="email" [(ngModel)]="contato.email" #contatoEmail="ngModel" required/>
      <app-message [control]="contatoEmail" error="required" text="Por gentileza, informe o e-mail!"></app-message>
      <app-message [control]="contatoEmail" error="email" text="Por gentileza, informe um e-mail válido!"></app-message>
    </div>
    <div class="ui-g-12 ui-fluid">
      <label>Telefone</label>
      <p-inputMask pInputText type="text" name="telefone" [(ngModel)]="contato.telefone" mask="(99) 99999-9999"></p-inputMask>
    </div>
    <div class="ui-g-12">
      <button pButton type="submit" label="Confirmar" [disabled]="formContato.invalid"></button>
    </div>
  </form>
</p-dialog>
